# Ignore dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore IDE settings
.vscode/
.idea/

# Ignore OS junk
.DS_Store
Thumbs.db

# Ignore build outputs
dist/
build/

# Ignore the Python environment
venv312/

# Ignore the React dependencies and builds
dashboard/node_modules/
dashboard/dist/

# Ignore the database (we generate this locally)
chroma_db/